*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background:linear-gradient(135deg,#74b9ff,#0984e3);
}
.container{
    width:550px;
    background:skyblue;
    padding:30px;
    border-radius:20px;
    text-align:center;
    box-shadow:0 5px 15px rgba(0,0,0,0.2);
}

#slider{
    width:100%;
    height:300px;
    object-fit:cover;
    border-radius:15px;
}

button{
    margin-top:20px;
    padding:12px 20px;
}