*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #4facfe, #00f2fe);
}

.form-container{
  background: white;;
  padding: 40px;
  width: 340px;
  border-radius: 20px;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.h2{
  margin-bottom: 25px;
}

input{
  width: 100%;
  padding: 12px;
  margin: 12px 0;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 16px;
}

button{
  background: #2196f3;
  color: white;
  border: none;
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  cursor: pointer;
  font-size: 17px;
  transition: 3s;
}

button:hover{
  background: #1565c0;
}

#message{
  margin-top: 15px;
  font-weight: bold;

}

