*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  background: gray;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container{
  background: white;
  width: 500px;
  padding: 40px;
  border-radius: 20px;
}

h1{
  margin-bottom: 20px;
}

input {
  border: 2px solid black;
  border-radius: 25px;
  margin-top: 12px;
  outline: none;
  width: 250px;
  padding: 12px;
  font-size: 18px;
}

input:focus {
  border-color: #007bff;
}

button{
  background: #5d5fef;
  color: white;
  padding: 12px 15px;
  font-size: 18px;
  font-weight: 600;
  cursor: pointer;
  border-radius: 10px;
}

button:hover{
  background: #4043d6;
}

ul{
  margin-top: 30px;
}

li{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
  font-size: 20px;
  background: #f2f2f2;
  border-radius: 8px;
}

