*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  height: 100vh;
  display: flex;
  background: linear-gradient(135deg,#74b9ff,#0984e3);
  justify-content: center;
  align-items: center;
}

.container{
  width: 500px;
  padding: 30px;
  background-color: white;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0, 0.2);
  text-align: center;
}

h1{
  color: #0984e3;
  margin-bottom: 20px;
}

button{
  width: 100%;
  padding: 12px;
  margin-top: 10px;
  border: none;
  border-radius: 10px;
  color: white;
  background: #96e;
  font-size: 16px;
  cursor: pointer;
  transition: 0.4s;
}

button:hover{
  background: #0767b8;
  transform: scale(1.05);
}

#result{
  margin: 20px 0;
  color: #333;
}

#score{
  margin-top: 20px;
  font-size: 20px;
  font-weight: bold;
  color: #0984e3;
}

