*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  background: linear-gradient(135deg, #74b9ff, #0984e3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container{
  width: 450px;
  padding: 30px;
  background: whitesmoke;
  border-radius: 20px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.2);
  text-align: center;
}

h1{
  margin-bottom: 20px;
  color: #0984e3;
}

textarea{
  width: 100%;
  height: 120px;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 10px;
  resize: none;
  font-size: 16px;
}

button{
  margin-top: 15px;
  padding: 12px 15px;
  border: none;
  background: #0984e3;
  color: white;
  cursor: pointer;
  font-size: 16px;
}

button:hover{
  background: #0767b8;
}

#notesContainer{
  margin-top: 25px;
  text-align: left;
}

.note{
  background: #f1f1f1;
  padding: 15px;
  margin-top: 15px;
  border-radius: 10px;
  position: relative;
}

.delete-btn{
  position: absolute;
  right: 5px;
  top: 2px;
  background: red;
  color: white;
  border: none;
  padding: 5px 5px;
  border-radius: 5px;
  cursor: pointer;
}