*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body{
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(135deg, #e0115f, #121212);
}

.player{
  width: 350px;
  padding: 30px;
  background: #b3b3b3;
  border-radius: 20px;
  text-align: center;
  box-shadow: 0 10px 30px rgba(0,0,0,0.2);
}

.player h1{
  margin-bottom: 20px;
  color: #333;
}

.album-art {
  width: 220px;
  height: 220px;
  margin: auto;
  overflow: hidden;
  border-radius: 15px;
}

.album-art img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

#songTitle{
  margin-top: 20px;
  font-size: 22px;
  color: #333;
}

#artist {
    margin-top: 8px;
    color: #777;
}

.progress-container {
    margin-top: 25px;
}

#progress {
    width: 100%;
    cursor: pointer;
}

.controls{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 25px;
}

.controls button{
  width: 50px;
  height: 50px;
  border: none;
  border-radius: 50%;
  background: #0984e3;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.controls button:hover {
    background: #6c5ce7;
}

.volume {
    margin-top: 25px;
}

#volume {
    width: 100%;
    cursor: pointer;
}
